<footer class="site-footer">
  <div class="footer-top">
    <div class="footer-logo">
      <a href="../html/index.html"><img src="../../images/sitefooterlogo.png" alt="Sinéfolis Logo" /></a>
    </div>
    <div class="footer-links">
      <div class="footer-section">
        <h4>About</h4>
        <a href="../html/index.html">Our Page</a>
        <a href="../html/promo_page.html">Promos</a>
        <a href="../html/show_cinema.html">Theater</a>
      </div>

      <div class="footer-section">
        <h4>Follow Us</h4>
        <a href="https://www.instagram.com/mhdhh_friends/">Instagram</a>
        <a href="https://www.tiktok.com/@newjeans_official">TikTok</a>
        <a href="https://twitter.com/NewJeans_ADOR">X</a>
      </div>

      <div class="footer-section">
        <h4>Customer Service</h4>
        <a href="../html/feedback.html">Feedbacks</a>
      </div>
    </div>
  </div>

  <!-- ✅ Copyright Section -->
  <div class="footer-bottom">
    Copyright © 2025 Sinéfolis. All rights reserved.
  </div>
</footer>
